@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ededed;
        --foreground: #e5d9ce;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    background-image: url(images/home_background.png);
    font-family: Arial, Helvetica, sans-serif;
}

.gradient {
    background: -webkit-linear-gradient(#5dbde2, #eab6b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
